/*en tete */

.home {
  &__loc {
    background-color: rgb(224, 224, 224);
    width: 100%;
    @include center;
    color: rgba(3, 3, 3, 0.8);
    h3 {
      width: 160px;
      text-align: center;
    }

    i {
      padding-right: 5px;
    }
  }
  &__reservation {
    background-color: rgb(240, 240, 240);

    width: 100%;
    height: 230px;
    padding-top: 35px;
    h2 {
      min-width: 260px;
      margin: auto;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
    }
    p {
      text-align: center;
      margin: 10px auto;
      color: rgba(0, 0, 0, 0.6);
      width: 90%;
    }
    &--btn {
      margin: 25px auto;
      @include center;
    }
  }
}
/* fonctionnement */

.fonctionnement {
  @include center;
  margin-top: 20px;
  flex-direction: column;
  h2 {
    margin-right: 110px;
    margin-bottom: 25px;
  }
  &__button {
    margin-bottom: 20px;
  }
}
