/*en tete */

.home {
  &__loc {
    background-color: rgb(224, 224, 224);
    width: 100%;
    @include center;
    color: rgba(3, 3, 3, 0.8);
    h3 {
      width: 160px;
      text-align: center;
    }

    i {
      padding-right: 5px;
    }
  }
  &__reservation {
    background-color: $color-background;

    width: 100%;
    height: 230px;
    padding-top: 35px;
    h2 {
      min-width: 260px;
      margin: auto;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      padding: 15px;
    }
    p {
      text-align: center;
      margin: 10px auto;
      color: rgba(0, 0, 0, 0.6);
      width: 90%;
    }
    &--btn {
      margin: 25px auto;
      @include center;
    }
  }
}
/* fonctionnement */

.fonctionnement {
  @include center;
  margin-top: 20px;
  flex-direction: column;
  h2 {
    margin-right: 110px;
    margin-bottom: 25px;
    @media (min-width: 1020px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__button {
    margin-bottom: 20px;
  }
  &__groupe {
    @media (min-width: 1020px) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
  }
}
/* Restaurants */
.restaurant {
  width: 100%;
  height: 1000px;
  background: $color-background;
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: space-around;
  h2 {
    margin-right: 140px;
    margin-bottom: 25px;
  }
}
.cards {
  width: 90%;
  height: 280px;
  background: #fff;
  border-radius: 15px;
  max-width: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 80%;
    margin: 10px 50px 0px 0px;

    &--text {
      height: 60px;

      h3 {
        margin: 10px auto 0px auto;
      }
      p {
        margin-top: 5px;
      }
    }
    &--coeur {
      font-size: 25px;
      color: rgba(0, 0, 0, 0.6);
      position: absolute;
      right: 30px;
      bottom: 30px;
    }
  }
}
