/* header acceuil */

.logo {
  flex-direction: column;
  @include center;
  width: 100%;

  h1 {
    height: 55px;
    margin: 0;
    font-family: "Shrikhand", cursif;
    padding-top: 20px;
    font-weight: bold;
  }
}
