.home__reservation--btn {
  height: 50px;
  border-radius: 30px;
  width: 220px;
  border: none;
  background: $color-secondary;
  background: linear-gradient(165deg, $color-secondary 0%, $color-primary 80%);
  color: #fff;
  box-shadow: 0px 5px 18px 6px #fff;
}
/* boutons fonctionnement */
.fonctionnement__button {
  width: 75%;
  height: 70px;
  background: $color-background;
  border: none;
  border-radius: 20px;
  position: relative;
  min-width: 265px;
  max-width: 315px;
  font-weight: bold;
  @include center;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 8px 2px rgb(224, 224, 224);
  &--bulle {
    width: 23px;
    height: 23px;
    background: $color-primary;
    display: block;
    position: absolute;
    color: #fff;
    border-radius: 50%;
    @include center;
    padding-top: 1px;
    left: -10px;
    top: 23px;
  }
  &--logo {
    padding-right: 20px;
    font-size: 17px;
  }
  &--text {
    display: block;
    text-align: left;
    width: 180px;
    color: #000;
  }
  &:hover {
    background: RGBA(147, 86, 220, 0.16);
    color: $color-primary;
  }
}
/* taille logo mobile */
.fonctionnement__button--logo-mobile {
  font-size: 22px;
}
/* coeur */

.coeur {
  font-size: 25px;
  color: grey;
  padding: 10px;
  &:hover {
    animation: coeur 2s ease-out;
    background: linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}
