@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  z-index: 0;
}
// font-family : 'Shrikhand', cursif ;
//font-family : 'Roboto', sans-serif ;//
