img {
  object-fit: cover;
  height: 280px;
  width: 100%;
}
.main {
  height: 1470px;
  @media (min-width: 1352px) {
    height: 1050px;
  }
}
.main2 {
  height: 1550px;
  @media (min-width: 1352px) {
    height: 1050px;
  }
}
.main3 {
  height: 1480px;
  @media (min-width: 1352px) {
    height: 1050px;
  }
}
.menu {
  width: 100%;
  height: 1250px;
  background: $color-background;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  position: absolute;
  top: 275px;
  margin: auto;

  @media (min-width: 1352px) {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 850px;
  }

  &__titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    h2 {
      font-size: 25px;
      font-family: "Shrikhand", cursif;
    }
    @media (min-width: 1352px) {
      position: absolute;
      top: 50px;
      width: 17%;
    }
  }
}
.menu2 {
  height: 1330px;
  @media (min-width: 1352px) {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 850px;
  }
}
// entrées
.menu3 {
  height: 1270px;
  @media (min-width: 1352px) {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 850px;
  }
}
.liste {
  width: 90%;
  height: auto;
  margin: auto;
  padding-top: 20px;

  h3 {
    border-bottom: 3px solid $color-tertiary;
    padding-bottom: 5px;
    width: 40px;
    font-weight: normal;
  }
  @media (min-width: 612px) {
    width: 50%;
    margin: auto;
  }
  @media (min-width: 1352px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 190px;
  }
}
ul {
  margin: 0px;
}
.liste__items {
  padding: 0;

  @media (min-width: 1352px) {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.items {
  margin-top: 20px;
  width: 100%;
  height: 65px;
  background: #fff;
  list-style: none;
  display: flex;
  border-radius: 15px;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  &:hover > .items__check {
    animation: check 1s;
    width: 50px;
    > i {
      animation: rotate 1s;
    }
  }

  &__text {
    height: 100%;
    width: 80%;
    overflow: hidden;

    h4 {
      margin: 10px auto auto 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p {
      margin: 5px auto 5px 15px;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__price {
    width: 70px;
    height: 77%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
  }
  &__check {
    width: 0px;
    height: 100%;
    background: $color-tertiary;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    &--logo {
      width: 23px;
      height: 23px;
      background: #fff;
      border-radius: 50%;
      margin-top: 20px;
      margin-left: 6px;
      padding-top: 5px;
      padding-left: 6px;
      color: $color-tertiary;
    }
  }
}
.itemsbig {
  height: 80px;
}
.btnmenu {
  position: absolute;
  bottom: 50px;
  left: 0px;
  right: 0px;
  margin: auto;
  @media (min-width: 1352px) {
    bottom: 80px;
  }
}
@keyframes check {
  0% {
    width: 0px;
  }

  100% {
    width: 50px;
  }
}
@keyframes rotate {
  25% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.items1 {
  animation: apparition 1s;
}
.items2 {
  animation: apparition 2s;
}
.items3 {
  animation: apparition 3s;
}
.items4 {
  animation: apparition 1s;
}
.items5 {
  animation: apparition 2s;
}
.items6 {
  animation: apparition 3s;
}
.items7 {
  animation: apparition 1s;
}
.items8 {
  animation: apparition 2s;
}
.items9 {
  animation: apparition 3s;
}
